#showTitle, #showDateCreated, #showDescription, #showHref {
  text-align: left;
  font-size: 1.00em;
  font-weight: 100;
  word-wrap: break-word;
  font-family: 'Raleway', sans-serif;
}

#metaDataId{
  text-align: left;
  font-size: 1.5em;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}

#submit {
  font-size: 1.00em;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 25%;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: blue;
  border: blue;
}

#restart {
  font-size: 1.00em;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 25%;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color:orange;
  border:orange;
  ;
}

header {
  margin-top: 2em;
}

#main {
  font-family: 'Raleway', sans-serif;
}

#title, #subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.subheading {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 2.75em;
  text-align: center;
  margin: .5em;
}

#output {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100;
}

#topics, #results-section {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 7px;
  font-family: 'Raleway', sans-serif;
}

#dDId {
  font-size: 1.00em;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

#cBId {
  font-size: 1.00em;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  text-align: center;
}

.hidden-start {
  display: none;
}

.green {
  background-color: green;
}

/* p {
  cursor: pointer;
} */

.coralColor {
    color: #b03060;
    font-weight: 700;
    margin: auto;
    padding:auto;
    text-align: left;
}

.redColor {
  color:red;
  font-weight: 1000;
  margin: auto;
  padding:auto;
  text-align: center;
}

.blackColor {
  color:black;
  font-weight: 1000;
  margin: auto;
  padding:auto;
  text-align: center;
}

#next {
  font-size: 1.00em;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color:orange;
  border:orange;  
  display: none;
}

#previous {
  font-size: 1.00em;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color:orange;
  border:orange;  
  display: none;
}

#a {
  display: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-weight: 700;
  background-color: #e7e7e7; 
  color: black;
}
